    body {
        /* display: flex; */
        /* line-height: 100px; */
        margin: 50px 25% 50px 25%;
        height: 100%;
        background: radial-gradient(circle, #fff, #ccc)
    }
    
    #container {
        /* display: flex; */
        height: 400px;
        width: 550px;
        background-color: rgb(92, 192, 250);
        border-radius: 0.5rem;
        padding: 20px;
        text-align: center;
        box-shadow: 0px 4px 0px rgb(68, 68, 226);
        position: relative;
    }
    
    #score {
        position: absolute;
        background-color: yellow;
        padding: 8px;
        left: 400px;
        box-shadow: 0px 4px 0px rgb(110, 110, 34);
    }
    
    #correct {
        position: absolute;
        background-color: greenyellow;
        padding: 8px;
        left: 180px;
        box-shadow: 0px 4px 0px rgb(34, 110, 38);
        display: none;
    }
    
    #wrong {
        position: absolute;
        background-color: red;
        padding: 8px;
        left: 180px;
        box-shadow: 0px 4px 0px rgb(131, 34, 34);
        display: none;
    }
    
    #display {
        text-align: center;
        height: 150px;
        width: 400px;
        background-color: rgba(239, 243, 243, 0.644);
        /* border: 1px solid red; */
        margin: 50px auto 10px auto;
        box-shadow: 0px 4px 0px rgb(37, 37, 102);
        font-size: 100px;
        font-family: cursive;
        /* position: absolute; */
    }
    
    #instruction {
        height: 40px;
        width: 400px;
        background-color: rgb(192, 60, 152);
        text-align: center;
        /* padding-bottom: 10px; */
        /* border: 1px solid black; */
        margin: 10px auto 10px auto;
        line-height: 40px;
        box-shadow: 0px 4px 0px rgb(128, 24, 41);
    }
    
    #option {
        display: flex;
        height: 80px;
        width: 400px;
        /* border: 1px solid black; */
        margin: auto;
        margin-top: 20px;
        /* padding: 5px; */
    }
    
    .option1 {
        /* display: inline-block; */
        background-color: white;
        text-align: center;
        line-height: 60px;
        width: 80px;
        margin: 10px auto;
        box-shadow: 0px 3px 0px grey;
        position: relative;
        transition: all 0.5s;
        /* padding-top: 20px */
    }
    
    .option1:hover {
        /* background-color: rgb(95, 95, 253);
            color: white; */
        /* box-shadow: 0px 3px 0px rgb(14, 3, 173); */
        cursor: pointer;
    }
    
    .option1:active {
        background-color: rgb(95, 95, 253);
        color: white;
        box-shadow: 0px 0px 0px rgb(14, 3, 173);
        top: 4px;
    }
    
    #reset {
        height: 80px;
        width: 300px;
        text-align: center;
        margin: 20px auto;
        /* margin-top: 20px; */
    }
    
    #resetbutton {
        background-color: rgb(162, 118, 243);
        /* margin-top: 40px; */
        box-shadow: 0px 2px 0px rgb(83, 4, 99);
        font-size: 15px;
        padding: 5px;
        position: relative;
    }
    
    #resetbutton:hover {
        cursor: pointer;
    }
    
    #resetbutton:active {
        background-color: rgb(0, 0, 255);
        box-shadow: 0px 2px 0px rgb(10, 4, 99);
        color: white;
        box-shadow: 0px 0px 0px rgb(14, 3, 173);
        top: 2px;
    }
    
    #timeremaining {
        height: auto;
        width: 180px;
        padding: 6px;
        background-color: rgb(255, 107, 70);
        box-shadow: 0px 3px 0px rgb(197, 8, 8);
        /* border: 1px solid black; */
        position: absolute;
        top: 398px;
        right: 20px;
        /* /* visibility: hidden;\ * */
        display: none;
    }
    
    #gameover {
        height: 210px;
        width: 450px;
        text-align: center;
        line-height: 50px;
        font-size: 35px;
        background: linear-gradient( rgb(255, 194, 79), rgb(255, 79, 79));
        position: absolute;
        top: 100px;
        left: 65px;
        text-transform: uppercase;
        color: white;
        z-index: 2;
        display: none;
    }
    
    @media screen and (max-width:500px) {
        #reset {
            height: 80px;
            width: 300px;
            text-align: center;
            margin: 20px auto;
            /* display: none; */
            /* margin-top: 20px; */
        }
        body {
            /* display: flex; */
            /* line-height: 100px; */
            /* margin: 50px 25% 50px 25%; */
            margin-left: 25px;
            height: 100%;
            background: radial-gradient(circle, #fff, #ccc)
        }
        #container {
            /* display: flex; */
            height: 300px;
            width: 300px;
            background-color: rgb(92, 192, 250);
            border-radius: 0.5rem;
            padding: 20px;
            text-align: center;
            box-shadow: 0px 4px 0px rgb(68, 68, 226);
            position: relative;
        }
        #display {
            text-align: center;
            height: 70px;
            width: 250px;
            background-color: rgba(239, 243, 243, 0.644);
            /* border: 1px solid red; */
            margin: 20px auto 10px auto;
            box-shadow: 0px 4px 0px rgb(37, 37, 102);
            font-size: 50px;
            font-family: cursive;
            /* position: absolute; */
        }
        #instruction {
            height: 40px;
            width: 250px;
            background-color: rgb(192, 60, 152);
            text-align: center;
            /* padding-bottom: 10px; */
            /* border: 1px solid black; */
            margin: 10px auto 10px auto;
            line-height: 40px;
            box-shadow: 0px 4px 0px rgb(128, 24, 41);
        }
        #option {
            display: flex;
            height: 80px;
            width: 250px;
            /* border: 1px solid black; */
            margin: auto;
            margin-top: 20px;
            /* padding: 5px; */
        }
        .option1 {
            /* display: inline-block; */
            background-color: white;
            text-align: center;
            line-height: 60px;
            width: 55px;
            margin: 10px auto;
            box-shadow: 0px 3px 0px grey;
            position: relative;
            transition: all 0.5s;
            /* padding-top: 20px */
        }
        .option1:hover {
            /* background-color: rgb(95, 95, 253);
                color: white; */
            /* box-shadow: 0px 3px 0px rgb(14, 3, 173); */
            cursor: pointer;
        }
        .option1:active {
            background-color: rgb(95, 95, 253);
            color: white;
            box-shadow: 0px 0px 0px rgb(14, 3, 173);
            top: 4px;
        }
        #score {
            position: absolute;
            background-color: yellow;
            padding: 4px;
            top: 290px;
            left: 10px;
            box-shadow: 0px 4px 0px rgb(110, 110, 34);
        }
        #correct {
            position: absolute;
            background-color: greenyellow;
            padding: 5px;
            top: 3px;
            left: 130px;
            box-shadow: 0px 4px 0px rgb(34, 110, 38);
            display: none;
        }
        #wrong {
            position: absolute;
            background-color: red;
            padding: 5px;
            top: 3px;
            left: 130px;
            box-shadow: 0px 4px 0px rgb(131, 34, 34);
            display: none;
        }
        #gameover {
            height: 190px;
            width: 350px;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            background: linear-gradient( rgb(255, 194, 79), rgb(255, 79, 79));
            position: absolute;
            top: 60px;
            left: -5px;
            text-transform: uppercase;
            color: white;
            z-index: 2;
            display: none;
        }
        #timeremaining {
            height: auto;
            width: 180px;
            padding: 6px;
            background-color: rgb(255, 107, 70);
            box-shadow: 0px 3px 0px rgb(197, 8, 8);
            /* border: 1px solid black; */
            position: absolute;
            top: 398px;
            right: 70px;
            /* /* visibility: hidden;\ * */
            display: none;
        }
    }